<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>finderrors.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>lemon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>mojoshader-compiler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>mojoshader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>testoutput.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>testparse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1510A7041FD44144BCB7AD2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DB72202264B489499D931F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3870D53054CB43DBA13B1F67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>564865E73CE34507A56BD4BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71800D4477E443288BCF1064</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71E9603756CB45FE9C075FB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74017C03F9C1414090CCD7F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74A002C9E9F6403EA509ABC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>865C18BE8B1A46DB9A232401</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93685DDC40924BADBA48772D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DB581C7CFC24A1981B080AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E5D3E204E97412A94C0B9F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A88E4C6C88054E1BB0343654</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2F9A40059E94AFC98F5FE5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD3BECD7542C427FA39FB538</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2493302ACCB4B5AAC9AC9FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA93D48B6FF84E5DB1A83D0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF1A1E542CF945B4B77AD975</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
